<div class="customers" id="customers">
  <h2>Customers</h2>
  <% @customers.each do |customer| -%>
    <div class="customer">
      <%=link_to customer.name, customer.url %>
    </div>
  <% end -%>
</div>